.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.edit-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
}

.edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-content {
    display: flex;
    width: 100%;
}

.image-section {
    flex: 1;
    margin-right: 20px;
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.form-section {
    flex: 2;
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input[type="text-ed"],
input[type="number-ed"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.radio-group {
    display: flex;
    gap: 10px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.save-button-ed {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}





.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
}

.modal-content {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text-ed"],
input[type="number"],
textarea {
    width: 75%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    font-size: 14px;
}

textarea {
    resize: none;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.save {
    background-color: #28a745;
    color: white;
    margin-right: 10px;
}

button.cancel {
    background-color: #dc3545;
    color: white;
}

button.save:hover {
    background-color: #218838;
}

button.cancel:hover {
    background-color: #c82333;
}

.buttons {
    display: flex;
    justify-content: space-between;
}