/* NavBar.css */

/* อย่าลืม npm install react-icons */

.navbar {
    background-color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
  }
  
  .nav-links li {
    text-align: center;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #800000; 
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .icon {
    font-size: 20px;
  }
  
  .nav-links a:hover {
    color: #b22222; 
  }
  