/* จัดการพื้นหลังให้เหมือนในรูป */
.background-image {
    background-image: url('../images/mainscreen.png');
    /* ใส่ URL ของภาพพื้นหลัง */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px 150px;
    border-radius: 10px;
}

.shopping-button,
.submit-button {
    background-color: #A0522D;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.shopping-button:hover,
.submit-button:hover {
    background-color: #8B4513;
}

.form-container {
    background-color: #F5DEB3;
    padding: 10px;
    /* ลดขนาด Padding ลงเพื่อให้เนื้อที่กว้างขึ้น */
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    width: 100%;
    /* กำหนดความกว้างของคอนเทนเนอร์ให้เต็ม */
    max-width: 500px;
    /* คุณสามารถปรับขนาดนี้ตามต้องการ */
}

input[type="text-home"] {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    /* กำหนดให้กล่องข้อความเต็มพื้นที่ */
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}




label {
    font-size: 18px;
    color: #333;
}

.submit-button {
    margin-top: 10px;
}

/* ปุ่ม Store ที่มุมซ้ายล่าง */
.store-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #556B2F;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.store-button:hover {
    background-color: #6B8E23;
}

/* สไตล์สำหรับข้อความแจ้งเตือน */
.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

/* สไตล์สำหรับข้อความแจ้งเตือน */
.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

/* สไตล์สำหรับข้อความแจ้งว่าเพิ่มข้อมูลสำเร็จ */
.success-message {
    color: green;
    margin-top: 10px;
    font-size: 14px;
}